* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.text-up {
    text-align: center;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 25px;
}

.text-up h1 {
    margin-bottom: 10px;
}


.box-calc {
    background-color: #080a16;
    height: auto;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    max-width: 1000px;
    padding: 25px;
    margin-bottom: 10px;
}

.box-calc label {
    color: #e5e4e2;
    font-size: 19px;
    font-weight: 600;

}

.box-calc h2 {
    color: #e5e4e2;
    text-align: center;
    margin-bottom: 15px;
}

.box-calc .inveese {
    margin-bottom: 25px;
}


.section-un {
    width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    justify-content: space-between;
    margin-top: 10px;
    grid-gap: 20px;
}

/* selector */
.section-un select {
    background-color: black;
    border: solid #F43336 1px;
    border-radius: 5px;
    width: 100%;
    height: 25px;
    color: white;
    font-size: 17px;
    transition: 0.3s ease;
    font-weight: 510;
    margin-top: 3px;
}

.section-un label {
    color: #e5e4e2;
    font-size: 19px;
    font-weight: 600;
}

.section-un select:hover {
    background-color:rgb(26, 23, 23) ;
    transition: 0.3s ease;
}


/* second */

.box-2 {
    background-color: #080a16;
    height: auto;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    padding: 25px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.text-t {
    color: white;
    font-weight: 500;
    background-color: #F43336;
    width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    max-width: 1000px;

}

/* text-t - s9 note 8 s8 settings
@media(max-width:360px){
 
} */


@media(max-width:767px){
 
    .text-up h1 {
        font-size: 26px;
    }

    .text-t {
        font-size: 14px;

    }
    .section-un label {
        font-size: 16px;
    }

    .box-calc label {
        font-size: 16px;
    }

    .section-un  select {
        font-size: 15px;
    }

    .section-un  select {
        font-size: 15px;
    }

}

@media(max-width:380px){
    .section-un select {
        width: 100%;
    }
}

.box-2 h2 {
    color: #e5e4e2;
    text-align: center;
    margin-bottom: 15px;
}



/* setting inveese  */

#invsee {
    display: none;
}




/* result */

.result {
    margin-top: 15px;

}

.box-calc table tr {
    color: white;
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

table tr {
    border: 1px solid #ddd;
    padding: .35em;
}

table th,
table td {
    padding: .625em;
    text-align: center;
}  

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}


.last {
    color: white;
    font-weight: 600;
    background-color: #F43336;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    border-radius: 3px;
    height: 50px;
    width: 100%;
	grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    justify-content: space-between;
    margin-top: 10px;
    grid-gap: 20px;
    display:flex;
}

.last a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

/* btn */

.btn-main {
    text-align: center;
}

.button-calc {
    display: inline-flex;
    height: 40px;
    width: 150px;
    border: 2px solid #F43336;
    border-radius: 3px;
    margin: 20px 20px 20px 20px;
    color: #BFC0C0;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 1.5px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

.button-calc a {
 
    color: black;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 600;

}

#button-3 {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: 0.2s ease;
}

#button-3:hover {
    background: #F43336;
    transition: 0.4s ease;
}
  
  #button-3 a {
    position: relative;
    transition: all .45s ease-Out;
  }
  


  #button-3:hover a {
    color: white;
}

#result {
    display: none;
}


.mama {
    margin-top: 100vh;
}

/* result all ivsee */
#sum_end:after { content:' руб.'; }
#cost_one:after { content:' руб.'; }
#cost_two:after { content:' руб.'; }
#cost_three:after { content:' руб.'; }
#cost_four:after { content:' руб.'; }
#cost_five:after { content:' руб.'; }